{% extends 'layout.html' %}

{% block body %}
    {# https://stackoverflow.com/questions/23273216/how-to-display-data-from-a-json-object-with-sigma-js #}

    <p>aLorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eos eveniet ullam. Adipisci at autem
        blanditiis
        commodi cum fugit, incidunt iure laboriosam nihil officiis provident similique sit ullam, veniam voluptates!</p>
    {% if not show_result %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Your query:
                    </div>
                    <div class="card-body">
                        <form id="query_form" action="{{ url_for('query') }}" method="post">
            <textarea id="query_input" rows="20" class="form-control" style="min-width: 100%" name="query">
            </textarea>
                        </form>
                        <br>
                        <button class="btn btn-primary" id="preview_query">Preview query</button>
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header">
                        Query Preview:
                    </div>
                    <div class="card-body">
                        <div style="height: 300px" id="query-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="clearfix">
            <button class="btn btn-primary float-md-right" id="query_button">Execute query</button>
        </div>


        <script>
            const query_string_0 = '1 10 1222660; 10; 11; 0; 0; 0; 0; 1; 0; 0; 0; 1; 0; 0 6 1; 1 6 1; 1 3 1; 1 7 1; 2 8 1; 2 9 1; 3 4 1; 4 5 1; 5 6 1; 6 8 1; 7 9 1;'
            function attemptDraw(query) {
                console.log(query);
                query = query.replace(/;/g, '\n');
                let lines = query.split('\n');
                lines = lines.filter(line=>line);
                lines = lines.map(line=>line.trim());
                const STATE = Object.freeze({"QT_MAN_ID":1, "NUM_NODES": 2, "NUM_EDGES": 3, "NODES": 4, "EDGES": 5});
                let graph = {'nodes': [], 'edges': []};
                let state = STATE.QT_MAN_ID;
                let line_idx = 0;
                let num_nodes = 0;
                let num_edges = 0;
                /*
                First line: QT,MAN,ID (QT: Query Threshold, MAN: Maximum Returned Answer Number, ID: query ID)
                Second line: n
                Third line: m
                (n: number of vertices, m, number of edges)
                Next n lines, each line has one number, representing the vertex label.
                Next m lines, each line has three numbers (a, b, 1), representing an edge between vertex a and vertex b.
                You can also replace "\n" with ";" at the end of each line.
                * */
                while (line_idx<lines.length) {
                    switch (state) {
                        case STATE.QT_MAN_ID:
                            line_idx++;
                            state = STATE.NUM_NODES;
                            break;
                        case STATE.NUM_NODES:
                            num_nodes = parseInt(lines[line_idx], 10);
                            line_idx++;
                            state = STATE.NUM_EDGES
                            break;
                        case STATE.NUM_EDGES:
                            num_edges = parseInt(lines[line_idx], 10);
                            line_idx++;
                            state = STATE.NODES;
                            break;
                        case STATE.NODES:
                            let nodeidx = 0;
                            let node_lines = lines.slice(line_idx, line_idx+num_nodes);
                            for (const line of node_lines) {
                                let node = {'id': 'n'+nodeidx.toString(), 'label': line, 'x': 10*Math.random(), 'y': 10*Math.random(), 'size': 2};
                                graph.nodes.push(node);
                                nodeidx++;
                            }
                            line_idx+=num_nodes;
                            state = STATE.EDGES;
                            break;
                        case STATE.EDGES:
                            let edgeidx = 0;
                            let edge_lines = lines.slice(line_idx, line_idx+num_edges);
                            for (const line of edge_lines) {
                                let edgesource = 'n'+line.split(" ")[0];
                                let edgetarget = 'n'+line.split(" ")[1];
                                let edge = {'id': "e"+edgeidx.toString(), 'source': edgesource, 'target': edgetarget};
                                graph.edges.push(edge);
                                edgeidx++;
                            }
                            line_idx+=num_edges;
                            break;
                    }
                }

                if (typeof attemptDraw.s !== 'undefined') {
                    attemptDraw.s.kill();
                }
                attemptDraw.s = new sigma({
                    graph: graph,
                    container: 'query-container',
                    settings: {
                        defaultNodeColor: '#2a0c8d',
                        drawLabels: true,
                        labelThreshold: 0
                    }
                });
                attemptDraw.s.startForceAtlas2({worker: true, barnesHutOptimize: false});
                setTimeout(function () {attemptDraw.s.stopForceAtlas2();}, 3000);


            }
            $(document).ready(function () {
                $('#query_input').val(query_string_0);



                $('#query_button').on('click', function () {
                    $('#query_form').submit();
                });
                $('#preview_query').on('click', function() {
                    let text = $('#query_input').val();
                    try {
                        attemptDraw(text);
                    }
                    catch (e) {
                        console.log('error drawing');
                    }
                });

            });
        </script>
    {% else %}
        <style type="text/css">
            .result {
                height: 250px;
            }
        </style>
        {#        https://stackoverflow.com/questions/60183002/how-to-do-pagination-for-bootstrap-grid #}
        <div class="clearfix"><h3 class="float-md-left">Query results</h3><a href="{{ url_for('demo') }}"
                                                                              class="btn btn-primary float-md-right"
                                                                              id="new_query">Make
            Another Query</a></div>
        <br>
        Returned {{ num_results }} graphs:
        <br><br>
        {% for result_type in results_type_list %}
            {% if result_type['start_div'] %}
                <div class="row">
            {% endif %}
        <div class="col-md-4">
            <div class="result" id="result{{ result_type['idx'] }}"></div>
        </div>
        {% if result_type['end_div'] %}
            </div>
            <br>
        {% endif %}
        {% endfor %}

        <br>
{#        <nav aria-label="Page navigation example">#}
{#            <ul class="pagination">#}
{#                <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#                <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#            </ul>#}
{#        </nav>#}
        <script>

            $(document).ready(function () {

                {% for result_type in results_type_list %}
                    {% if not result_type['dummy_div'] %}
                        var s{{ result_type['idx'] }} = new sigma({
                            graph: {{ result_type['graph'] | safe }},
                            container: 'result{{ result_type['idx'] }}',
                            settings: {
                                defaultNodeColor: '#2a0c8d',
                                drawLabels: true,
                                labelThreshold: 0
                            }
                        });
                        s{{ result_type['idx'] }}.startForceAtlas2({worker: true, barnesHutOptimize: false});
                        setTimeout(function () {s{{ result_type['idx'] }}.stopForceAtlas2();}, 3000);
                    {% endif %}
                {% endfor %}


            });
        </script>
    {% endif %}
    <script src="{{ url_for('static', filename='sigma.js/build/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.js/build/plugins/sigma.parsers.json.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.js/build/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
{% endblock %}