{% extends 'layout.html' %}

{% block body %}
    {# https://stackoverflow.com/questions/23273216/how-to-display-data-from-a-json-object-with-sigma-js #}

    <p>aLorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eos eveniet ullam. Adipisci at autem
        blanditiis
        commodi cum fugit, incidunt iure laboriosam nihil officiis provident similique sit ullam, veniam voluptates!</p>
    {% if not show_result %}
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        Your query
                        <button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
                                data-target="#formatModal">See query format
                        </button>
                        :
                        <!-- The Modal -->
                        <div class="modal" id="formatModal">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Query Format</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        First line: QT,MAN,ID (QT: Query Threshold, MAN: Maximum Returned Answer Number,
                                        ID: query ID (not used, please put dummy value here))
                                        <br>
                                        Second line: n
                                        <br>
                                        Third line: m
                                        <br>
                                        (n: number of vertices, m, number of edges)
                                        <br>
                                        Next n lines, each line has one number, representing the vertex label.
                                        <br>
                                        Next m lines, each line has three numbers "a, b, 1", representing an edge
                                        between vertex a and vertex b.
                                        <br>
                                        You can also replace "\n" with ";" at the end of each line.

                                        <br>
                                        For an example, please click the button "Preview query" to see how the example
                                        query looks like.
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="query_form" action="{{ url_for('query') }}" method="post">
            <textarea id="query_input" rows="20" class="form-control" style="min-width: 100%" name="query">
            </textarea>
                        </form>
                        <br>
                        <div class="form-row align-itmes-center mb-2">
                            <div class="col-auto mr-4">
                                <input type="text" class="form-control" id="node_label_input" placeholder="Node Label">
                            </div>
                            <div class="col-auto btn btn-primary" id="add_node_btn">Add node</div>
                        </div>
                        <br>
                        <div class="form-row align-itmes-center mb-2">
                            <div class="col-auto">
                                <input type="text" class="form-control" id="src_node_input" placeholder="Source node ID">
                            </div>
                            <div class="col-auto">
                                <input type="text" class="form-control" id="target_node_input" placeholder="Target node ID">
                            </div>
                            <div class="col-auto btn btn-primary" id="add_edge_btn">Add edge</div>
                        </div>
{#                        <button class="btn btn-primary" id="preview_query">Preview query</button>#}
                    </div>
                </div>

            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="card-header">
                        Query Preview:
                    </div>
                    <div class="card-body">
                        <div style="height: 300px" id="query-container"></div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="clearfix">
            <button class="btn btn-primary float-md-right" id="query_button">Execute query</button>
        </div>


        <script>

            class Graph {
                constructor(queryStr) {
                    // queryStr follows Zongyue's query string format
                    // can pass in empty string for a blank graph
                    this.nodeCounter = 0;
                    this.adjList = new Map();
                    this.nodeLabels = new Map();
                    if (queryStr === "") {
                        return;
                    } else {
                        queryStr = queryStr.replace(/;/g, '\n');
                        let lines = queryStr.split('\n');
                        // removes empty line
                        lines = lines.filter(line => line);
                        lines = lines.map(line => line.trim());
                        {# javascript enum #}
                        const STATE = Object.freeze({
                            "QT_MAN_ID": 1,
                            "NUM_NODES": 2,
                            "NUM_EDGES": 3,
                            "NODES": 4,
                            "EDGES": 5
                        });
                        let state = STATE.QT_MAN_ID;
                        let line_idx = 0;
                        let num_nodes = 0;
                        let num_edges = 0;
                        /*
                        First line: QT,MAN,ID (QT: Query Threshold, MAN: Maximum Returned Answer Number, ID: query ID)
                        Second line: n
                        Third line: m
                        (n: number of vertices, m, number of edges)
                        Next n lines, each line has one number, representing the vertex label.
                        Next m lines, each line has three numbers (a, b, 1), representing an edge between vertex a and vertex b.
                        You can also replace "\n" with ";" at the end of each line.
                        * */
                        while (line_idx < lines.length) {
                            switch (state) {
                                case STATE.QT_MAN_ID:
                                    line_idx++;
                                    state = STATE.NUM_NODES;
                                    break;
                                case STATE.NUM_NODES:
                                    num_nodes = parseInt(lines[line_idx], 10);
                                    this.nodeCounter = num_nodes;
                                    for (let nodeidx = 0; nodeidx < num_nodes; nodeidx++) {
                                        this.adjList.set(nodeidx, new Set());
                                    }
                                    line_idx++;
                                    state = STATE.NUM_EDGES
                                    break;
                                case STATE.NUM_EDGES:
                                    num_edges = parseInt(lines[line_idx], 10);
                                    line_idx++;
                                    state = STATE.NODES;
                                    break;
                                case STATE.NODES:
                                    let nodeidx = 0;
                                    let node_lines = lines.slice(line_idx, line_idx + num_nodes);
                                    for (const line of node_lines) {
                                        this.nodeLabels.set(nodeidx, line)
                                        nodeidx++;
                                    }
                                    line_idx += num_nodes;
                                    state = STATE.EDGES;
                                    break;
                                case STATE.EDGES:
                                    let edgeidx = 0;
                                    let edge_lines = lines.slice(line_idx, line_idx + num_edges);
                                    for (const line of edge_lines) {
                                        let edgesource = parseInt(line.split(" ")[0], 10);
                                        let edgetarget = parseInt(line.split(" ")[1], 10);
                                        this.adjList.get(edgesource).add(edgetarget);
                                        this.adjList.get(edgetarget).add(edgesource);
                                        edgeidx++;
                                    }
                                    line_idx += num_edges;
                                    break;
                            }
                        }
                    }
                }

                newNode(nodeLabel) {
                    this.nodeLabels.set(this.nodeCounter, nodeLabel);
                    this.adjList.set(this.nodeCounter, new Set());
                    this.nodeCounter += 1;
                }

                newEdge(source, dest) {
                    if ((!this.adjList.has(source)) || (!this.adjList.has(dest))) {
                        return false;
                    } else {
                        this.adjList.get(source).add(dest);
                        this.adjList.get(dest).add(source);
                        return true;
                    }
                }
                toQueryFormat() {
                    // convert the graph into Zongyue format
                        /*
                    First line: QT,MAN,ID (QT: Query Threshold, MAN: Maximum Returned Answer Number, ID: query ID)
                    Second line: n
                    Third line: m
                    (n: number of vertices, m, number of edges)
                    Next n lines, each line has one number, representing the vertex label.
                    Next m lines, each line has three numbers (a, b, 1), representing an edge between vertex a and vertex b.
                    You can also replace "\n" with ";" at the end of each line.
                    * */
                    let qt = 1;
                    let man = 10;
                    let id = 1;
                    let num_nodes = this.nodeCounter;
                    let num_edges = 0;
                    let ret_string_block1 = `${qt} ${man} ${id};`;
                    let ret_string_block2 = ""; // for nodes
                    let ret_string_block3 = ""; // for edges

                    // handles edges
                    let used_edges = new Set();
                    this.adjList.forEach((value, key, map)=>{
                        value.forEach((value1, value2, set)=> {
                            if (used_edges.has(`${key} ${value1}`)||used_edges.has(`${value1} ${key}`)) {

                            }
                            else {
                                used_edges.add(`${key} ${value1}`);
                                used_edges.add(`${value1} ${key}`);
                                ret_string_block3 += `${key} ${value1} 1;`;
                                num_edges += 1;
                            }
                        });
                    });

                    // handles nodes
                    this.nodeLabels.forEach((value, key, map)=> {
                        ret_string_block2 += `${value};`;
                    });

                    // build the return string
                    let ret_string = `${ret_string_block1} ${num_nodes}; ${num_edges}; ${ret_string_block2} ${ret_string_block3}`;
                    return ret_string;



                }
                /*
                * @param {Graph} graph - input graph of Graph object
                * @param {string} containerid - id of the container that sigma.js puts the graph into
                * */
                static drawGraph(graph, containerid) {
                    let sigma_graph = {'nodes': [], 'edges': []};
                    let edge_counter = 0;
                    let added_edges = new Set(); // Used for making sure we don't have self loop in sigma graph
                    graph.adjList.forEach((connected_nodes_ids, nodeid, map) => {
                        let node = {
                            'id': nodeid.toString(),
                            'label': 'label: ' + graph.nodeLabels.get(nodeid) + ', id: ' + nodeid.toString(),
                            'x': 10 * Math.random(),
                            'y': 10 * Math.random(),
                            'size': 2
                        };
                        sigma_graph.nodes.push(node);
                        connected_nodes_ids.forEach((value1, value2, set) => {
                            let edgesource = nodeid.toString();
                            let edgetarget = value1.toString();
                            let edgeString = edgesource + ',' + edgetarget;
                            let edgeString_rev = edgetarget + ',' + edgesource;
                            if (added_edges.has(edgeString) || added_edges.has(edgeString_rev)) {
                                return;
                            }
                            added_edges.add(edgeString);
                            let edge = {'id': edge_counter.toString(), 'source': edgesource, 'target': edgetarget};
                            edge_counter += 1;
                            sigma_graph.edges.push(edge);
                            return;
                        });
                    });
                    if (typeof this.s !== 'undefined') {
                        this.s.kill();
                    }
                    this.s = new sigma({
                        graph: sigma_graph,
                        container: containerid,
                        settings: {
                            defaultNodeColor: '#2a0c8d',
                            drawLabels: true,
                            labelThreshold: 0
                        }
                    });
                    this.s.startForceAtlas2({worker: true, barnesHutOptimize: false});
                    setTimeout(()=> {
                        this.s.stopForceAtlas2();
                        return;
                    }, 3000);

                }
            }

            let query_string_0 = '1 10 1222660; 10; 11; 0; 0; 0; 0; 1; 0; 0; 0; 1; 0; 0 6 1; 1 6 1; 1 3 1; 1 7 1; 2 8 1; 2 9 1; 3 4 1; 4 5 1; 5 6 1; 6 8 1; 7 9 1;'
            let graph = new Graph(query_string_0);
            function attemptDraw(query) {
                {#console.log(query);#}
                query = query.replace(/;/g, '\n');
                let lines = query.split('\n');
                lines = lines.filter(line => line);
                lines = lines.map(line => line.trim());
                {# javascript enum #}
                const STATE = Object.freeze({"QT_MAN_ID": 1, "NUM_NODES": 2, "NUM_EDGES": 3, "NODES": 4, "EDGES": 5});
                let graph = {'nodes': [], 'edges': []};
                let state = STATE.QT_MAN_ID;
                let line_idx = 0;
                let num_nodes = 0;
                let num_edges = 0;
                /*
                First line: QT,MAN,ID (QT: Query Threshold, MAN: Maximum Returned Answer Number, ID: query ID)
                Second line: n
                Third line: m
                (n: number of vertices, m, number of edges)
                Next n lines, each line has one number, representing the vertex label.
                Next m lines, each line has three numbers (a, b, 1), representing an edge between vertex a and vertex b.
                You can also replace "\n" with ";" at the end of each line.
                * */
                while (line_idx < lines.length) {
                    switch (state) {
                        case STATE.QT_MAN_ID:
                            line_idx++;
                            state = STATE.NUM_NODES;
                            break;
                        case STATE.NUM_NODES:
                            num_nodes = parseInt(lines[line_idx], 10);
                            line_idx++;
                            state = STATE.NUM_EDGES
                            break;
                        case STATE.NUM_EDGES:
                            num_edges = parseInt(lines[line_idx], 10);
                            line_idx++;
                            state = STATE.NODES;
                            break;
                        case STATE.NODES:
                            let nodeidx = 0;
                            let node_lines = lines.slice(line_idx, line_idx + num_nodes);
                            for (const line of node_lines) {
                                let node = {
                                    'id': 'n' + nodeidx.toString(),
                                    'label': line,
                                    'x': 10 * Math.random(),
                                    'y': 10 * Math.random(),
                                    'size': 2
                                };
                                graph.nodes.push(node);
                                nodeidx++;
                            }
                            line_idx += num_nodes;
                            state = STATE.EDGES;
                            break;
                        case STATE.EDGES:
                            let edgeidx = 0;
                            let edge_lines = lines.slice(line_idx, line_idx + num_edges);
                            for (const line of edge_lines) {
                                let edgesource = 'n' + line.split(" ")[0];
                                let edgetarget = 'n' + line.split(" ")[1];
                                let edge = {'id': "e" + edgeidx.toString(), 'source': edgesource, 'target': edgetarget};
                                graph.edges.push(edge);
                                edgeidx++;
                            }
                            line_idx += num_edges;
                            break;
                    }
                }

                if (typeof attemptDraw.s !== 'undefined') {
                    attemptDraw.s.kill();
                }
                attemptDraw.s = new sigma({
                    graph: graph,
                    container: 'query-container',
                    settings: {
                        defaultNodeColor: '#2a0c8d',
                        drawLabels: true,
                        labelThreshold: 0
                    }
                });
                attemptDraw.s.startForceAtlas2({worker: true, barnesHutOptimize: false});
                setTimeout(function () {
                    attemptDraw.s.stopForceAtlas2();
                }, 3000);


            }

            $(document).ready(function () {
                $('#query_input').val(query_string_0);


                $('#query_button').on('click', function () {
                    let new_query_str = graph.toQueryFormat();
                    $('#query_input').val(new_query_str);
                    $('#query_form').submit(); // submits the query in the textbox
                });

                /* draw graphs now */
                let text = $('#query_input').val();
                    try {
                        graph = new Graph(text);
                        Graph.drawGraph(graph, 'query-container');
                    } catch (e) {
                        console.log('error drawing');
                    }
                /*$('#preview_query').on('click', function () {
                    let text = $('#query_input').val();
                    try {
                        graph = new Graph(text);
                        Graph.drawGraph(graph, 'query-container');
                    } catch (e) {
                        console.log('error drawing');
                    }
                });*/
                $('#add_node_btn').on('click', function () {
                    let label = $('#node_label_input').val();
                    graph.newNode(label);
                    Graph.drawGraph(graph, 'query-container');
                });
                $('#add_edge_btn').on('click', function () {
                    let src = $('#src_node_input').val();
                    let target = $('#target_node_input').val();
                    src = parseInt(src, 10);
                    target = parseInt(target, 10);
                    graph.newEdge(src, target);
                    Graph.drawGraph(graph, 'query-container');
                });

            });
        </script>
    {% else %}
        <style type="text/css">
            .result {
                height: 250px;
            }
        </style>
        {#        https://stackoverflow.com/questions/60183002/how-to-do-pagination-for-bootstrap-grid #}
        <div class="clearfix"><h3 class="float-md-left">Query results</h3><a href="{{ url_for('demo') }}"
                                                                             class="btn btn-primary float-md-right"
                                                                             id="new_query">Make
            Another Query</a></div>
        <br>
        Returned {{ num_results }} graphs:
        <br><br>
        {% for result_type in results_type_list %}
            {% if result_type['start_div'] %}
                <div class="row">
            {% endif %}
        <div class="col-md-4">
            <div class="result" id="result{{ result_type['idx'] }}"></div>
        </div>
        {% if result_type['end_div'] %}
            </div>
            <br>
        {% endif %}
        {% endfor %}

        <br>
        {#        <nav aria-label="Page navigation example">#}
        {#            <ul class="pagination">#}
        {#                <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
        {#                <li class="page-item active"><a class="page-link" href="#">1</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">2</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">3</a></li>#}
        {#                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
        {#            </ul>#}
        {#        </nav>#}
        <script>

            $(document).ready(function () {

                {% for result_type in results_type_list %}
                    {% if not result_type['dummy_div'] %}
                        var s{{ result_type['idx'] }} = new sigma({
                            graph: {{ result_type['graph'] | safe }},
                            container: 'result{{ result_type['idx'] }}',
                            settings: {
                                defaultNodeColor: '#2a0c8d',
                                drawLabels: true,
                                labelThreshold: 0
                            }
                        });
                        s{{ result_type['idx'] }}.startForceAtlas2({worker: true, barnesHutOptimize: false});
                        setTimeout(function () {
                            s{{ result_type['idx'] }}.stopForceAtlas2();
                        }, 3000);
                    {% endif %}
                {% endfor %}


            });
        </script>
    {% endif %}
    <script src="{{ url_for('static', filename='sigma.js/build/sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.js/build/plugins/sigma.parsers.json.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.js/build/plugins/sigma.layout.forceAtlas2.min.js') }}"></script>
{% endblock %}