{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome to Graph Hashing Demo</h1>
        Graph Hashing is ...
        <p>aLorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum eos eveniet ullam. Adipisci at autem
        blanditiis
        commodi cum fugit, incidunt iure laboriosam nihil officiis provident similique sit ullam, veniam voluptates!</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('about_demo') }}" role="button">Learn more</a></p>
    </div>
  </div>
{% endblock %}